body{
    outline: 0 !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    background: black;
}

canvas{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 50vw !important;
    height: 50vw !important;
}